In [ ]:
#Lambda function
#small anonymous functions defined using the lambda function

In [1]:
#syntax
#lambda argumeents : expression

In [3]:
def add(a,b):
    return a+b
add(2,3)

5

In [8]:
a=lambda a,b:a+b
print(a(3,2))

5

In [9]:
type(a)
#it says it is also on eof the function

function

In [11]:
even=lambda n:n%2==0
even(4)

True

In [12]:
a=lambda a,b,c:a+b+c
a(1,2,3)

6

In [18]:
 
def square(numbers):
    squares = []
    for i in numbers:
        squares.append(i**2)
    return squares

numbers = [1, 2, 3, 4, 5]
squared_numbers = square(numbers)
print(squared_numbers)

[1, 4, 9, 16, 25]

In [19]:
def square(numbers):
    return [i**2 for i in numbers]

numbers = [1, 2, 3, 4, 5]
squared_numbers = square(numbers)
print(squared_numbers)

[1, 4, 9, 16, 25]

In [23]:
def square(number):
    for i in number:
        print(i**2,end=',')
square(number)
number=[1,2,3,4,5]

1,4,9,16,25,

In [26]:
##map() function
#map function it applies a given function to all items in an list o any other iterable and returns a map object

list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25]

In [29]:
def func(x):
    return x**x#function
number=[1,2,3,4,5]#list
list(map(func,number))#map(fn,list)

[1, 4, 27, 256, 3125]

In [33]:
list(map(lambda x:x**x,number))#(function,number)

[1, 4, 27, 256, 3125]

In [38]:
#map multible iterables
num=[1,2,3]
num2=[4,5,6]
add_list=list(map(lambda x,y:x+y,num,num2))#(function, multiple iterables)
add_list

[5, 7, 9]

SyntaxError: incomplete input (2425080836.py, line 1)

In [44]:
#in place we can use anything like .lower(),upper()
#list of strings to integers
a = list(map(int, input().split()))#function,iterable,split for splitiing input 
#input string into a list of substrings based on whitespace by default. For example, if the user inputs "1 2 3 4 5", split() will convert this 
#into the list ["1", "2", "3", "4", "5"].

 12345

In [47]:
print(type(a))

<class 'list'>

In [50]:
#converting upper 
a=['rahul','ramu','knm','raayi']
upper_words=list(map(str.upper,a))
print(upper_words)

['RAHUL', 'RAMU', 'KNM', 'RAAYI']

In [53]:
def name(person):
    return person['name']
p=[
{'name':'krish','age':32},
{'name':'Rahul','age':23}
    ]

list(map(name,p))

['krish', 'Rahul']

In [54]:
##it is good for iterable data structure we can write code more efficiently

In [56]:
#Filter function 
#used to filter out items on list or any iterable based on the conditions

In [58]:
def even(num):
    if num%2==0:
        return True
even(20)

True

In [61]:
lit=[1,2,3,4,5,6,7,8]
even_and_greatherthan_five=list(filter(lambda x:x<=5 and x%2==0,lit))#function,list
print(even_and_greatherthan_five)
#removing unwanted in iterables

[2, 4]